.personalInfo_container {
    align-items: center;
    // background: cornflowerblue;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
}

.personalInfo__main {
    align-items: center;
    // background-color: darkcyan;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.personalInfo__title {
    align-items: center;
    // background: darkgoldenrod;
    height: 101.06px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.personalInfo__columnInfo {
    // background-color: red;
    flex: 1;
    width: 100%;
}

.personalInfo__row {
    display: flex;
    justify-content: space-between;
    padding: 0 17.11px 0 20.61px;
    &:nth-child(1) {
        padding-left: 22.38px;
        h4 {
            color: black;
            font-size: 24px;
        }
        p {
            color: #828282;
            font-size: 13px;
            width: 200px;
        }
    }
    h4 {
        color: #BDBDBD;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.035em;
    }
}

.profile-container {
    align-items: center;
    display: flex;
    margin-bottom: 27.51px;
    .btn_edit {
        align-items: center;
        border: 1px solid #828282;
        border-radius: 12px;
        display: flex;
        height: 38px;
        justify-content: center;
        width: 95.34px;
        a {
            color: #828282;
        }
    }
    .profile {
        h4 {
            margin-bottom: 4px;
        }
    }
}

@media screen and (min-width: $tablet) {
    .personalInfo__row {
        &:nth-child(1) {
            margin-top: 28.32px;
            p {
                width: 300px;
            }
        }
    }
}


/* PHOTO */

.photo-container {
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    padding-bottom: 17.39px;
    .img {
        // background: gray;
        border-radius: 8px;
        height: 72px;
        position: relative;
        width: 72px;
        i {
            left: 21px;
            position: absolute;
            top: 22px;
        }
    }
    img {
        width: 100%;
    }
}

@media screen and (min-width: $tablet) {
    .photo-container {
        border-top: 1px solid #E0E0E0;
        padding-top: 11.59px;
        .photo {
            flex: 30%;
        }
        .img-container {
            flex: 70%;
        }
    }
    .name-container {
        .name {
            flex: 30%;
        }
        .names {
            display: flex;
            flex: 70%;
        }
    }
    .bio-container {
        .bio {
            flex: 30%;
        }
        .bios {
            display: flex;
            flex: 70%;
            p {
                width: 100% !important;
            }
        }
    }
    .phone-container {
        .phone {
            flex: 30%;
        }
        .phones {
            flex: 70%;
        }
    }
    .email-container {
        .email {
            flex: 30%;
        }
        .emails {
            flex: 70%;
        }
    }
    .password-container {
        .password {
            flex: 30%;
        }
        .passwords {
            flex: 70%;
        }
    }
}


/* NAME */

.name-container {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 41.36px;
    margin-top: 31.29px;
}


/* BIO */

.bio-container {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 27.21px;
    margin-top: 29.29px;
}

.phone-container,
.email-container,
.password-container {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 27.21px;
    margin-top: 29.29px;
}

.password-container {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .personalInfo__columnInfo {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .personalInfo__informacion {
        // background: coral;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 12px;
        height: 590.54px;
        width: 600px;
    }
    .photo-container {
        padding-bottom: 17.53px;
        margin-top: 11.59px;
    }
    .name-container,
    .bio-container,
    .phone-container,
    .email-container {
        padding-bottom: 24.26px;
        margin-top: 24px;
    }
    .password-container {
        border-bottom: none;
        margin-top: 24px;
        padding-bottom: 14.64px;
    }
}

@media screen and (min-width: 900px) {
    .personalInfo__informacion {
        // background: coral;
        height: 570.54px;
        width: 845px;
    }
}