.personalInfo_container {
    align-items: center;
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.caja1 {
    align-items: flex-start;
    background: burlywood;
    display: flex;
    justify-content: space-between;
    height: 102px;
    padding: 24px 0 0 0;
    width: 100%;
}

.caja2 {
    align-items: center;
    background-color: darkcyan;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.caja3 {
    align-items: center;
    background: darkgoldenrod;
    height: 101.06px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.caja4 {
    align-items: center;
    background: chartreuse;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.caja5 {
    background-color: white;
    // height: 580.54px;
    flex: 1;
    width: 100%;
}

@media screen and (min-width: $telefono) {
    .caja5 {
        width: 80%;
    }
}

@media screen and (min-width: 1400px) {
    .caja5 {
        flex: none;
        height: 580.54px;
    }
}

.caja6 {
    align-items: center;
    border: 1px solid #E0E0E0;
    // border-radius: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

@media screen and (min-width: $telefono) {
    .caja6 {
        border-radius: 24px; 
    }
}

.cajas {
    width: 100%;
    &:nth-child(1) {
        align-items: center;
        border-bottom: 1px solid #E0E0E0;
        display: flex;
        flex: 1.5;
        justify-content: space-between;
        padding: 28.32px 10px 29.51px 10px;
        width: 100%;
        h4 {
            font-size: 24px;
        }
        p {
            color: #828282;
            font-size: 13px;
        }
    }
    &:nth-child(2) {
        border-bottom: 1px solid #E0E0E0;
        flex: 1.5;
    }
    &:nth-child(3) {
        border-bottom: 1px solid #E0E0E0;
        flex: 1;
    }
    &:nth-child(4) {
        border-bottom: 1px solid #E0E0E0;
        flex: 1;
    }
    &:nth-child(5) {
        border-bottom: 1px solid #E0E0E0;
        flex: 1;
    }
    &:nth-child(6) {
        border-bottom: 1px solid #E0E0E0;
        flex: 1;
    }
    &:nth-child(7) {
        flex: 1;
    }
}

.edit {
    align-items: center;
    border: 1px solid #828282;
    border-radius: 12px;
    display: flex;
    height: 38px;
    justify-content: center;
    width: 95.34px;
    a {
        color: #828282;
    }
}

@media screen and (min-width: $tablet) {
    .cajas {
        &:nth-child(1) {
            padding: 28.32px 48.84px 29.51px 49.3px;
        }
    }
}

@media screen and (min-width: 1400px) {
    .cajas {
        &:nth-child(1) {
            flex: none;
            height: 114.63px;
        }
        &:nth-child(2) {
            flex: none;
            height: 101.11px;
        }
        &:nth-child(3) {
            flex: none;
            height: 73.26px;
        }
        &:nth-child(4) {
            flex: none;
            height: 73.26px;
        }
        &:nth-child(5) {
            flex: none;
            height: 73.26px;
        }
        &:nth-child(6) {
            flex: none;
            height: 73.26px;
        }
        &:nth-child(7) {
            flex: none;
            height: 74px;
        }
    }
}

// .personalInfo_container {
//     display: flex;
//     flex: 1;
//     flex-direction: column;
//     width: 100%;
// }

// .header__container {
//     align-items: flex-start;
//     background: mediumaquamarine;
//     display: flex;
//     justify-content: space-between;
//     height: 102px;
//     padding: 24px 0 0 0;
// }

// .personalInfo__main {
//     align-items: center;
//     background: mediumslateblue;
//     display: flex;
//     flex: 1;
//     flex-direction: column;
//     justify-content: flex-start;
//    .personalInfo__title {
//         align-items: center;
//         background: darkgray;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         margin-bottom: 44.06px;
//    }
//    .personalInfo__profile {
//         background: darkslateblue;
//         display: flex;
//         flex: 1;
//         flex-direction: column;
//         max-width: 845.91px;
//    }
//    .table {
//        background: white;
//        height: 10px;
//        width: 845.91px;
//    }
// }