.login__container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%; 
}

.login__login {
    align-items: center;
    // background: cornflowerblue;
    display: flex;
    flex-direction: column;
    height: 580.37px;
    justify-content: center;
    margin: 0 15px;
    width: 473.83px;
}

.login__center {
    // background: gray;
    border: 1px solid #BDBDBD;
    border-radius: 24px;
    height: 672px;
    padding: 0 58.78px;
    padding-top: 49px;
    width: 100%;
}

@media screen and(min-width: $telefono) {
    .login__login {
        height: 550px;
    }
    .login__center {
        height: 550px;
        padding-top: 29px;
    }
}

.login__logo {
    margin-bottom: 27.5px;
}

.login__titles {
    margin-bottom: 34.66px;
    h3 {
        color: #333333;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 14.5px;
    }
    p {
        color: #333333;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}

.login__email, 
.login__password {
    position: relative;
}

.login__email-icon,
.login__password-icon {
    left: 14px;
    position: absolute;
    top: 11px;
}


input.login__btn {
    background: #2F80ED;
    border: 1px solid #2F80ED;
    border-radius: 8px;
    color: white;
    height: 38px;
    margin-top: 8.01px;
    outline: none;
    width: 100%;
    &:active {
        transform: scale(0.98);
    }
}

.login__social-networks {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 31.58px;
    span {
        color: #828282;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 22.51px;
    }
}

.login__register {
    font-size: 14px;
    margin-top: 27.5px;
    span {
        margin-right: 5px;
    }
}