.registro__container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.registro__register {
    align-items: center;
    // background: cornflowerblue;
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
    margin: 0 15px;
    width: 473.83px;
}

.registro__center {
    // background: gray;
    border: 1px solid #BDBDBD;
    border-radius: 24px;
    height: 672px;
    padding: 0 58.78px;
    padding-top: 25px;
    width: 100%;
}

@media screen and(min-width: $telefono) {
    .registro__register {
        height: 635px;
    }
    .registro__center {
        height: 624.3px !important;
        padding-top: 29px;
    }
}

.registro__logo {
    margin-bottom: 27.5px;
}

.registro__titles {
    margin-bottom: 34.66px;
    h3 {
        color: #333333;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 14.5px;
    }
    p {
        color: #333333;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}

.registro__email, 
.registro__password {
    position: relative;
}

.registro__email-icon,
.registro__password-icon {
    left: 14px;
    position: absolute;
    top: 11px;
}

input.email,
input.password {
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    box-sizing: border-box;
    height: 48px;
    margin-bottom: 14.5px;
    padding-left: 46.89px;
    outline: none;
    width: 100%;
}

input.registro__btn {
    background: #2F80ED;
    border: 1px solid #2F80ED;
    border-radius: 8px;
    color: white;
    height: 38px;
    margin-top: 8.01px;
    outline: none;
    width: 100%;
    &:active {
        transform: scale(0.98);
    }
}

.registro__social-networks {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 31.58px;
    span {
        color: #828282;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 22.51px;
    }
}

.registro__login {
    font-size: 14px;
    margin-top: 27.5px;
    span {
        margin-right: 5px;
    }
}