@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:wght@400;500;700&display=swap');
html,
body {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.devChallenges {
    margin-bottom: 27.5px; 
 }

 .footer__footer {
    align-items: center;
    // background: darkgoldenrod;
    display: flex;
    justify-content: space-between;
    margin-top: 9.28px;
    width: 100%;
    a {
        color: #BDBDBD;
        font-size: 14px;
        font-weight: normal;
        line-height: 19px;
    }
}
 